<div class="navbar">
  <a class="<%= path === '/' ? 'navbar__item active' : 'navbar__item' %>" href="/">Home</a>
  <a class="<%= path === '/board' ? 'navbar__item active' : 'navbar__item' %>" href="/board">Board</a>
</div>
